h1{
    color: red;
    font-size: 20px;
}

.twitter{
    background-image: url('./twitter.png#sprites');
    height: height('./twitter.png');
    widht: width('./twitter.png');
}

.facebook{
    background-image: url('./facebook.png#sprites');
    height: 100px;
    width: 100px;
}